<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div th:replace="/layout::navbar"></div>
    </div>
    <div class="row ">
        <div class="col-3"><p></p></div>
        <div class="col-6">
            <div class="row" th:if="${product.isPresent()}">
                <div class="col-5">
                    <img class="card-img-top" style="width: 100%" th:src="${product.get().image}" alt="Card image">
                </div>
                <div class="col-7">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${product.get().name}"></h4>
                        <label>Giá: </label><span class="card-text"
                                                  th:text="${product.get().price}"></span><span> VND</span>
                        <p th:text="${product.get().description}"></p>
                        <a th:href="@{/shop/add/__${product.get().id}__}" class="btn btn-primary">Add to card</a>
                    </div>
                </div>
            </div>

            <div class="row" th:unless="${product.isPresent()}">
                <p>Sản phẩm không tồn tại </p>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div th:replace="/layout::footer"></div>
    </div>

</div>

</body>
</html>