<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete category</h3>
<p>
    <a th:href="@{/category}">
        Back to Home
    </a>
</p>
<div id="form">
    <form th:action="@{/category/delete}" th:object="${category}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tên danh mục</label>
            <input readonly th:field="*{nameCategory}"/>
        </div>
        <input type="submit" value="Delete"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>