<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to Home
    </a>
</p>
<div id="form">
    <form th:action="@{/blog/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tiêu đề</label>
            <input readonly th:field="*{title}"/>
        </div>
        <div>
            <label>Nội dung</label>
            <input readonly th:field="*{content}"/>
        </div>
        <div>
            <label>Người viết</label>
            <input readonly th:field="*{author}"/>
        </div>
        <div>
            <label>Ngày tạo</label>
            <input readonly th:field="*{dateOfWriting}"/>
        </div>
        <input type="submit" value="Delete"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>