<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="/layout::navbar"></div>
    </div>
    <div class="row ">
        <div class="col-3"><p></p></div>
        <div class="col-6">

        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div th:replace="/layout::footer"></div>
    </div>

</div>
</body>
</html>