<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout::navbar"></div>
<h3>Update category</h3>
<div id="form">
    <form th:action="@{/category/update}" th:object="${category}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tên danh mục</label>
            <input th:field="*{nameCategory}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>