<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/layout::hearder">

    </div>
    <div th:replace="/layout::navbar">

    </div>

    <div class="row">
        <div class="col-sm-3">
            <div th:replace="layout::left">

            </div>
        </div>

        <div class="col-sm-9">

            <h2 style="color: #6a1a21;text-align: center" class=" my-3">Danh sách nhân viên</h2>
            <div class="row d-flex my-3">
                <div class="col-4">
                    <button id="btnCreate" type="button" class="btn btn-primary btn-sm d-flex justify-content-center" data-bs-toggle="modal"
                            data-bs-target="#createNew">
                        <span class="fa-solid fa-person-circle-plus text-light h4 my-auto me-2"></span> Thêm mới nhân
                        viên
                    </button>
                </div>
                <div class="col-8">
                    <form class="d-flex justify-content-center" role="search" action="/employee" method="get">
                        <input class="form-control me-2" type="search"  name="searchName" th:value="${searchName}" placeholder="Nhập tên nhân viên" aria-label="Search">
                        <input class="form-control me-2" type="search" name="searchAddress" th:value="${searchAddress}" placeholder="Nhập địa chỉ"  aria-label="Search">
                        <input class="form-control me-2" type="search" name="searchPosition" th:value="${searchPosition}"
                               placeholder="Nhập vị trí/ chức vụ"  aria-label="Search">
                        <button class="btn btn-outline-info" type="submit" style="color: #1d2124">Search</button>
                    </form>
                  <!--  <form >
                        <input hidden type="text" name="action" value="search">
                        <input type="text" name="searchName" th:value="${searchName}" placeholder="Nhập tên nhân viên">
                        <input type="text" name="searchAddress" th:value="${searchAddress}" placeholder="Nhập địa chỉ">
                        <input type="text" name="searchPosition" th:value="${searchPosition}"
                               placeholder="Nhập vị trí/ chức vụ">
                        <button class="btn btn-success btn-sm " type="submit">Search</button>
                    </form>-->
                </div>

            </div>
            <div class="row my-3">
                <table id="employeeTable" class="table table-striped table-bordered border border-3 border-secondary ">
                    <thead class="text-center bg-info ">
                    <tr>
                        <th>STT</th>
                        <th>Họ và Tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Cập nhật</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee,status:${employees}">
                        <td class="text-center" th:text="${employees.number * employees.size + status.count}">1</td>
                        <td class="infoEmployee">
                                <span hidden id="info" data-bs-toggle="modal" data-bs-target="#infoEmployee"
                                      th:text="${employee.name}">Phan Phước Đại
                                </span>
                            <a th:href="@{'/employee/view/{id}'(id=${employee.id})}" th:text="${employee.name}"></a>
                        </td>
                        <td class="text-center" th:text="${employee.birthday}">22/2/1990</td>

                        <td class="text-center" th:if="${employee.sex}">Nam</td>
                        <td class="text-center" th:unless="${employee.sex}">Nữ</td>

                        <td th:text="${employee.address}">Quảng Nam</td>
                        <td class="text-center">
                            <a th:href="@{'/employee/update/{id}'(id=${employee.id})}">
                                <span class="fa-solid fa-user-pen text-primary h4 m-auto"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a th:href="@{/employee/delete/(id=${employee.id})}" data-bs-toggle="modal"
                               data-bs-target="#deleteModal"
                               th:attr="onclick=|deleteEmployee('${employee.id}','${employee.name}')|">
                                <span class="fa-solid fa-person-circle-minus text-danger h4 m-auto"></span>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="row float-end">

                <nav   aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/employee'(page=${0},
                             searchName=${searchName}, searchType=${searchPosition}, searchAddress=${searchAddress})}"
                               th:if="${employees.hasPrevious()}">
                                &laquo;&laquo;</a>
                        </li>
                        <li class="page-item disabled" th:unless="${employees.hasPrevious()}">
                            <a class="page-link">&laquo;&laquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/employee'(page=${employees.number - 1},
                             searchName=${searchName}, searchType=${searchPosition}, searchAddress=${searchAddress})}"
                               th:if="${employees.hasPrevious()}">
                                &laquo;</a>
                        </li>
                        <li class="page-item disabled" th:unless="${employees.hasPrevious()}">
                            <a class="page-link">&laquo;</a>
                        </li>

                        <li class="page-item"><a class="page-link" th:if="${employees.hasPrevious()}"
                                                 th:href="@{'/employee'(page=${employees.number - 1},
                                                 searchName=${searchName},searchType=${searchPosition},
                                                 searchAddress=${searchAddress})}" th:text="${employees.number}"></a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" th:text="${employees.number + 1}"
                               th:href="@{'/employee'(page=${employees.number},searchName=${searchName},
                                searchType=${searchPosition}, searchAddress=${searchAddress})}">
                                <span class="sr-only">(trang hiện tại)</span></a>
                        </li>

                        <li class="page-item"><a class="page-link" th:if="${employees.hasNext()}"
                                                 th:href="@{'/employee'(page=${employees.number + 1},
                                                 searchName=${searchName},searchType=${searchPosition},
                                                 searchAddress=${searchAddress})}"
                                                 th:text="${employees.number + 2}"></a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:if="${employees.hasNext()}"
                               th:href="@{'/employee'(page=${employees.number + 1},
                                searchName=${searchName}, searchType=${searchPosition},
                               searchAddress=${searchAddress})}"
                            >&raquo;</a>
                        </li>
                        <li class="page-item disabled" th:unless="${employees.hasNext()}">
                            <a class="page-link">&raquo;</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:if="${employees.hasNext()}"
                               th:href="@{'/employee'(page=${employees.totalPages -1},
                                searchName=${searchName}, searchType=${searchPosition},
                               searchAddress=${searchAddress})}"
                            >&raquo;&raquo;</a>
                        </li>
                        <li class="page-item disabled" th:unless="${employees.hasNext()}">
                            <a class="page-link">&raquo;&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="row">
        <div th:replace="layout::footer">

        </div>
    </div>
</div>

<!--Modal thông tin chi tiết Employee-->
<!--Xong-->
<div class="modal" style="margin-top: 1%" id="infoEmployee" tabindex="-1" aria-labelledby="infoEmployeeLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" th:object="${employee}">
            <div class="modal-header">
                <h5 class="modal-title" id="infoEmployeeLabel" style="color: #4267b2">Thông Tin Nhân Viên : <span
                        style="color: rebeccapurple" id="nameEmployee" th:text="*{name}"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table border="1" class="table table-striped">
                    <tr>
                        <td>Giới tính:</td>
                        <td>
                            <span id="genderEmployee" th:if="*{sex}">Nam</span>
                            <span th:unless="*{sex}">Nữ</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td><span id="dateOfBirthEmployee" th:text="*{birthday}"></span></td>
                    </tr>
                    <tr>
                        <td>Số CMND:</td>
                        <td><span id="idCardEmployee" th:text="*{idCitizen}"></span></td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td><span id="phoneNumberEmployee" th:text="*{phone}"></span></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><span id="emailEmployee" th:text="*{email}"></span></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td><span id="addressEmployee" th:text="*{address}"></span></td>
                    </tr>
                    <tr>
                        <td>Trình độ:</td>
                        <td><span id="degreeEmployee" th:if="*{degree}" th:text="*{degree.name}"></span></td>
                    </tr>
                    <tr>
                        <td>Vị trí:</td>
                        <td><span id="positionEmployee" th:if="*{position}"
                                  th:text="*{position.name                     }"></span></td>
                    </tr>
                    <tr>
                        <td>Bộ phận:</td>
                        <td><span id="divisionEmployee" th:if="*{division}" th:text="*{division.name}"></span></td>
                    </tr>
                    <tr>
                        <td>Lương:</td>
                        <td><span id="salaryEmployee" th:text="*{salary}"></span></td>
                    </tr>
                    <tr>
                        <td>Tài khoản:</td>
                        <td><span id="userNameEmployee"></span></td>
                    </tr>
                </table>

            </div>

        </div>

    </div>
</div>
<input hidden type="text" id="success" th:value="${msg}">

<!--Modal delete Employee-->
<!--Xong-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="/employee/delete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden name="id" id="idDelete">
                    <strong>Nhân viên: </strong>
                    <span id="nameDelete"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Modal thông báo-->
<button type="button" id="modalSuccess" hidden class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#messModal">
    Launch demo modal
</button>
<div class="modal fade" id="messModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="messModalLabel">${msg}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function deleteEmployee(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }

    $(document).ready(function () {
        let action = $("#action").val();
        if (action === "openInfo") {
            $("#info").click();
        } else if (action === "openUpdate") {
            $("#btnUpdate").click();
        }

        let any = document.getElementById("success").value;

        if (any != null && any !== "") {
            document.getElementById("modalSuccess").click();
        }


       /* function infoEmployee(employee) {

            let info = employee.split("@@");
            document.getElementById("nameEmployee").innerText = info[0];
            let gender = info[3];
            let gt;
            if (gender == "true") {
                gt = "Nam";
            } else {
                gt = "Nữ";
            }
            document.getElementById("genderEmployee").innerHTML = gt;
            document.getElementById("dateOfBirthEmployee").innerHTML = info[2];
            document.getElementById("idCardEmployee").innerHTML = info[1];
            document.getElementById("phoneNumberEmployee").innerHTML = info[4];
            document.getElementById("emailEmployee").innerHTML = info[5];
            document.getElementById("addressEmployee").innerHTML = info[6];
            document.getElementById("degreeEmployee").innerHTML = info[8];
            document.getElementById("positionEmployee").innerHTML = info[9];
            document.getElementById("divisionEmployee").innerHTML = info[10];
            document.getElementById("salaryEmployee").innerHTML = info[11];
            document.getElementById("userNameEmployee").innerHTML = info[12];

        }*/

    });
</script>
<!-- Modal create-->
<input hidden readonly id="action" th:value="${action}">
<div class="modal fade" id="createNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm Mới Nhân Viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h3></h3>

                <div class="d-flex justify-content-center">
                    <form class="w-50 border border-2 border-success p-3 rounded formCSS"
                          th:action="@{/employee/create}"
                          th:object="${newEmployeeDto}" method="POST" novalidate="novalidate">
                        <div class="form-group">
                            <label for="nameNew" class="h6">Tên nhân viên:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            <div class="input-group">
                                <input type="text" id="nameNew" class="form-control" placeholder="Nhập tên nhân viên.."
                                       th:field="*{name}"/>
                                <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="dateOfBirthNew" class="h6">Ngày sinh:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('birthday')}"
                               th:errors="*{birthday}"></p>
                            <input type="date" id="dateOfBirthNew" class="form-control" th:field="*{birthday}"
                                   th:min="${minAge}" th:max="${maxAge}"/>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="idCardNew" class="h6">Số CMND/CCCD:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('idCitizen')}"
                               th:errors="*{idCitizen}"></p>
                            <div class="input-group">
                                <input type="text" id="idCardNew" class="form-control" placeholder="Nhập số CMND/CCCD.."
                                       th:field="*{idCitizen}"/>
                                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="salaryNew" class="h6">Lương (VNĐ):</label>
                            <p style="color: red" th:if="${#fields.hasErrors('salary')}"
                               th:errors="*{salary}"></p>
                            <div class="input-group">
                                <input type="number" id="salaryNew" class="form-control" placeholder="Nhập lương..."
                                       th:field="*{salary}"/>
                                <span class="input-group-text"><i class="fa-solid fa-money-bill-wave"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="phoneNew" class="h6">Số điện thoại:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('phone')}"
                               th:errors="*{phone}"></p>
                            <div class="input-group">
                                <input type="text" id="phoneNew" class="form-control" placeholder="Nhập SĐT.."
                                       th:field="*{phone}"/>
                                <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="emailNew" class="h6">Email:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></p>
                            <div class="input-group">
                                <input type="text" id="emailNew" class="form-control" placeholder="Nhập email.."
                                       th:field="*{email}"/>
                                <span class="input-group-text"><i class="fa-solid fa-envelope-circle-check"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label for="addressNew" class="h6">Địa chỉ:</label>
                            <p style="color: red" th:if="${#fields.hasErrors('address')}"
                               th:errors="*{address}"></p>
                            <div class="input-group">
                                <input type="text" id="addressNew" class="form-control" placeholder="Nhập địa chỉ.."
                                       th:field="*{address}"/>
                                <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="positionNew">Vị trí:</label>
                            <div class="input-group">
                                <select id="positionNew" class="form-select" th:field="*{position.id}">
                                    <option th:each="item : ${positionList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-map"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="educationDegreeNew">Trình độ học vấn:</label>
                            <div class="input-group">
                                <select id="educationDegreeNew" class="form-select" th:field="*{degree.id}">
                                    <option th:each="item : ${degreeList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-solid fa-graduation-cap"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 form-group">
                            <label class="h6" for="divisionNew">Bộ phận:</label>
                            <div class="input-group">
                                <select id="divisionNew" class="form-select" th:field="*{division.id}">
                                    <option th:each="item : ${divisionList}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                                <span class="input-group-text"><i class="fa-brands fa-creative-commons-nd"></i></span>
                            </div>
                        </div>

                        <div class="mt-3 text-center">
                            <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                                -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <!--                    <button type="button" class="btn btn-primary">Understood</button>-->
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal UPDATE-->
<button hidden id="btnUpdate" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateId">
    update
</button>

<!-- Modal Update-->
<div class="modal fade" id="updateId" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Cập nhật</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h3 class="text-center">Cập nhật nhân viên</h3>
                    <div class="d-flex justify-content-center">
                        <form class="w-50 border border-2 border-success p-3 rounded formCSS"
                              th:action="@{'/employee/update/{id}'(id=${employeeDtoUpdate.id})}"
                              th:object="${employeeDtoUpdate}" method="POST" novalidate="novalidate">
                            <div class="form-group">
                                <label for="name" class="h6">Tên nhân viên:</label>
                                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                <div class="input-group">
                                    <input type="hidden"  id="id" th:field="*{id}">
                                    <input type="text" id="name" class="form-control" placeholder="Nhập tên nhân viên.."
                                           th:field="*{name}"/>
                                    <span class="input-group-text"><i
                                            class="fa-solid fa-person-circle-question"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label for="dateOfBirth" class="h6">Ngày sinh:</label>
                                <p style="color: red" th:if="${#fields.hasErrors('birthday')}"
                                   th:errors="*{birthday}"></p>
                                <input type="date" id="dateOfBirth" class="form-control" th:field="*{birthday}"
                                       th:min="${minAge}" th:max="${maxAge}"/>
                            </div>

                            <div class="mt-3 form-group">
                                <label for="idCard" class="h6">Số CMND/CCCD:</label>
                                <p style="color: red" th:if="${#fields.hasErrors('idCitizen')}"
                                   th:errors="*{idCitizen}"></p>
                                <div class="input-group">
                                    <input type="text" id="idCard" class="form-control"
                                           placeholder="Nhập số CMND/CCCD.."
                                           th:field="*{idCitizen}"/>
                                    <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label for="salary" class="h6">Lương (VNĐ):</label>
                                <p style="color: red" th:if="${#fields.hasErrors('salary')}"
                                   th:errors="*{salary}"></p>
                                <div class="input-group">
                                    <input type="number" id="salary" class="form-control" placeholder="Nhập lương..."
                                           th:field="*{salary}"/>
                                    <span class="input-group-text"><i class="fa-solid fa-money-bill-wave"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label for="phone" class="h6">Số điện thoại:</label>
                                <p style="color: red" th:if="${#fields.hasErrors('phone')}"
                                   th:errors="*{phone}"></p>
                                <div class="input-group">
                                    <input type="text" id="phone" class="form-control" placeholder="Nhập SĐT.."
                                           th:field="*{phone}"/>
                                    <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label for="email" class="h6">Email:</label>
                                <p style="color: red" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}"></p>
                                <div class="input-group">
                                    <input type="text" id="email" class="form-control" placeholder="Nhập email.."
                                           th:field="*{email}"/>
                                    <span class="input-group-text"><i
                                            class="fa-solid fa-envelope-circle-check"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label for="address" class="h6">Địa chỉ:</label>
                                <p style="color: red" th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}"></p>
                                <div class="input-group">
                                    <input type="text" id="address" class="form-control" placeholder="Nhập địa chỉ.."
                                           th:field="*{address}"/>
                                    <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label class="h6" for="positionM">Vị trí:</label>
                                <div class="input-group">
                                    <select id="positionM" class="form-select" th:field="*{position.id}">
                                        <option th:each="item : ${positionList}" th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                    <span class="input-group-text"><i class="fa-solid fa-map"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label class="h6" for="educationDegree">Trình độ học vấn:</label>
                                <div class="input-group">
                                    <select id="educationDegree" class="form-select" th:field="*{degree.id}">
                                        <option th:each="item : ${degreeList}" th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                    <span class="input-group-text"><i class="fa-solid fa-graduation-cap"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 form-group">
                                <label class="h6" for="divisionM">Bộ phận:</label>
                                <div class="input-group">
                                    <select id="divisionM" class="form-select" th:field="*{division.id}">
                                        <option th:each="item : ${divisionList}" th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                    <span class="input-group-text"><i
                                            class="fa-brands fa-creative-commons-nd"></i></span>
                                </div>
                            </div>

                            <div class="mt-3 text-center">
                                <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                                    -- Lưu <i class="fa-solid fa-floppy-disk"></i> --
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>